# API
NODE_ENV=production
PORT=3000
CORS_ORIGIN=https://cpu.it.kr

# DB for docker-compose
DB_NAME=cpu
DB_USERNAME=cpu
DB_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root

# TypeORM behavior
# First deployment without migrations can use true
DB_SYNCHRONIZE=true
DB_LOGGING=false
